.ct-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  padding-left: 2rem;
  padding-top: 15%;
  text-align: left;
  max-width: 1600px;
}

.ct-title {
  font-family: "Smooch", sans-serif;
  font-size: 7vw;
  line-height: 0.8;
  color: rgb(64, 62, 61);
}

.ct-text {
  font-family: "Poppins";
  padding-top: 1rem;
}

.ct-section-two {
  margin-top: 1rem;
  padding: 10%;
  border-top: 50px solid rgb(25, 26, 25);
  text-align: center;
  background-color: rgb(24, 24, 24);
  font-family: "Poppins-Light";
}

.ct-col-1 {
  padding: rem;
}

.ct-col-2 {
  font-family: "Smooch";
  padding-top: 2rem;
  padding: 5rem;
}

@media (max-width: 576px) {
  .ct-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0rem;
    padding-top: 20%;
    text-align: center;
    height: max-content;
  }
  .ct-title {
    font-family: "Smooch", sans-serif;
    font-size: 4rem;
    line-height: 0.8;
    color: rgb(64, 62, 61);
  }
}

/* tablet breakpoint */
@media (min-width: 768px) {
}

/* desktop breakpoint */
@media (min-width: 1024px) {
}
