@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Syncopate";
  src:
    local("Syncopate"),
    url(./syncopate-regular.ttf) format("opentype");
}

@font-face {
  font-family: "Syncopate-Bold";
  src:
    local("Syncopate"),
    url(./syncopate-bold.ttf) format("opentype");
}

@font-face {
  font-family: "Syncopate";
  src:
    local("Syncopate"),
    url(./syncopate-regular.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins-Light";
  src:
    local("Poppins-Light"),
    url(./Poppins-ExtraLight.otf) format("opentype");
}

.content-with-sidebars {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  padding-top: 10%;
  height: 100vh;
  width: 100%;
  gap: 1rem;
  overflow: hidden;
  /* display: flex;
  flex-wrap: wrap; */
}

.--nav {
  position: fixed;
  font-family: "Syncopate-Bold", sans-serif;
  font-size: 7vw;
  letter-spacing: 1px;
  color: rgb(45, 45, 45);
  background-color: white;
  width: 100%;
  z-index: 99;
}

.nav-links {
  display: flex;
  font-family: "Syncopate", sans-serif;
  font-size: 1rem;
  gap: 0.7rem;
  padding-top: 4rem;
}

.header-text {
  position: fixed;
  font-family: "Syncopate-Bold", sans-serif;
  font-size: 7vw;
  letter-spacing: 1px;
  color: rgb(45, 45, 45);
  background-color: white;
  width: 100%;
  top: 2rem;
}

.sidebar-links {
  font-family: "Syncopate", sans-serif;

  font-size: 1.5vw;
  padding-top: 20%;
  margin: 5%;
  line-height: 1;
  letter-spacing: 2px;
}

/* tablet breakpoint */
@media (max-width: 576px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    font-family: "Syncopate", sans-serif;
    font-size: 1rem;
    gap: 0;
    padding-top: 1rem;
  }

  .header-text {
    letter-spacing: 1px;
    color: rgb(45, 45, 45);
    background-color: white;
    width: 100%;
  }

  .nav-mb {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
}

/* desktop breakpoint */
@media (min-width: 1024px) {
}
