@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Smooch";
  src:
    local("Smooch"),
    url(./Smooch-Regular.ttf) format("opentype");
}

/* @font-face {
  font-family: "Smooch";
  src:
    local("Syncopate"),
    url(./syncopate-regular.ttf) format("opentype");
} */

@font-face {
  font-family: "Poppins-Light";
  src:
    local("Poppins-Light"),
    url(./Poppins-ExtraLight.otf) format("opentype");
}

@font-face {
  font-family: "Poppins-Bold";
  src:
    local("Poppins-Bold"),
    url(./Poppins-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Poppins";
  src:
    local("Poppins"),
    url(./Poppins-Regular.otf) format("opentype");
}
.content-with-sidebars {
}

.--nav {
  position: fixed;
  font-family: "Smooch", sans-serif;
  font-size: 7vw;
  letter-spacing: 1px;
  color: rgb(45, 45, 45);
  background-color: white;
  width: 100%;
  z-index: 99;
}

.nav-links {
  display: flex;
  font-family: "Smooch", sans-serif;
  font-size: 1rem;
  gap: 0.7rem;
  padding-top: 4rem;
}

.header-text {
  /* position: fixed; */
  font-family: "Smooch", sans-serif;
  font-size: 9vw;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.863);
  width: 100%;
  top: 2rem;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* .sidebar-links {
  font-family: "Smooch", sans-serif;
  font-size: 1.5vw;
  padding-top: 20%;
  margin: 5%;
  line-height: 1;
  letter-spacing: 2px;
} */

.mb-hero {
  display: none;
}

.name {
  font-family: "Poppins";
  font-size: 1.5vw;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 40px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-shadow: horizontal-offset vertical-offset blur color;
}
/* tablet breakpoint */
@media (max-width: 576px) {
  .mb-hero {
    display: block;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    font-family: "Smooch", sans-serif;
    font-size: 1rem;
    gap: 0;
    padding-top: 1rem;
  }

  .header-text {
    letter-spacing: 1px;
    color: rgb(45, 45, 45);
    background-color: white;
    width: 100%;
  }

  .nav-mb {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .header-text,
  .content-with-sidebars {
    display: none;
  }

  .sidebar-links {
    margin-top: -20%;
    font-size: 4vw;
  }

  .mb-header {
    font-family: "Smooch";
    line-height: 0.8;
  }

  .name {
  }
}

.sub-text {
  font-family: "Poppins-light";
  font-size: 1rem;
  position: relative;
  bottom: 25px;
}

/* desktop breakpoint */
@media (min-width: 1024px) {
}

.nav-text {
  font-family: "Smooch";
  font-size: 2vw;
}
