.art-img-scroll {
  list-style: none;
  text-align: center;

  padding-top: 10%;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 576px) {
  .art-img-scroll {
    padding-top: 20%;
  }

  .gallery-mb {
    margin-left: 5%;
  }
}
